.customFileUpload input[type="file"] {
    display: none;
}
.customFileUpload{
    background-color: #fff;
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    top: 150px;
    right: 180px;
    font-size: 10px;
}
